#include <windows.h>
#include <scrnsave.h>

#include "controls.h"

// General settings

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

ID_APP ICON SSMS.ICO



// VS_VERSION_INFO VERSIONINFO
// {
//     BLOCK "StringFileInfo"
//     { 
//         BLOCK "040904b0"
//         {
//             VALUE "FileDescription",  "Some screens must save Screen Saver\0"
//         } 
//     }
// }



// Layout macros

#define DIALOG_WIDTH 200
#define DIALOG_HEIGHT 63

#define LABEL_WIDTH 60

DLG_SCRNSAVECONFIGURE DIALOG 6, 18, DIALOG_WIDTH, DIALOG_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "How will you save your screen?"
//FONT 8, "MS Shell Dlg"
// AP210523: MS started using Segoe as default since Windos Vista (6.0+?), and it is much nicer to read
// No idea on how to set this at runtime to avoid problems on older versions, but maybe there is a way...?
FONT 8, "Segoe UI"
BEGIN

    RTEXT           "Sponge level:"     LABEL_SPONGE, 6, 8, LABEL_WIDTH, 8
    AUTORADIOBUTTON "1"                 CTRL_SPONGE_LEVEL_1, 70,  8, 20, 8, WS_GROUP
    AUTORADIOBUTTON "2"                 CTRL_SPONGE_LEVEL_2, 90,  8, 20, 8
    AUTORADIOBUTTON "3"                 CTRL_SPONGE_LEVEL_3, 110, 8, 20, 8

    //RTEXT           "Rainbow speed:"    LABEL_COLOUR, 6, 20, LABEL_WIDTH, 8

    // TEST
    // LISTBOX 1001, 60, 20, 20, 12
    // x EDITTEXT        3456,           60, 40, 100, 20, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    // x CONTROL "Integer Spinner", 40002,        "msctls_updown32", UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_WRAP | UDS_ARROWKEYS, 60, 40, 100, 20
    // EDITTEXT        CTRL_RAINBOW_SPEED,           70, 20, 30, 12, ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER
    // CONTROL "Integer Spinner", 40002,        "msctls_updown32",  UDS_ALIGNRIGHT | UDS_SETBUDDYINT | UDS_AUTOBUDDY | UDS_WRAP | UDS_ARROWKEYS, 60, 20, 30, 12
    
    //EDITTEXT        CTRL_RAINBOW_SPEED, 70, 20, 30, 12, ES_AUTOHSCROLL | ES_NUMBER


    DEFPUSHBUTTON   "OK"                IDOK, 135, 10, 40, 14
    PUSHBUTTON      "Cancel"            IDCANCEL, 135, 32, 40, 14

END
